################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PetApplication.Web/packages
**/bin
**/obj
*.user
*.suo
**/App_Data/error*.xml
**/logs/*.txt
**/logs/archives/*.txt